body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #d8d8d8;
    color: #333;
}

header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 2px;
}

h1 {
    padding: 5px;
    margin: 5px;
}

main {
    padding: 10px;
}


h2 {
    text-align: center;
    margin: 5px;
}

a {
    color: white;
}

nav li {
    margin-right: 20px;
}

.First {
    position: relative;
    top: 10px;
    right: 70px;

}

.Second {
    position: relative;
    bottom: 8px;
}

.Third {
    position: relative;
    bottom: 26px;
    left: 75px;
}

article {
    font-size: large;
}

.box {
    border: solid 5px black;
    padding: 5px;
    margin: 5px;
    position: relative;
    bottom: 15px;
    height: 200px;
}

.box2 {
    border: solid 5px black;
    padding: 5px;
    margin: 5px;
    position: relative;
    bottom: 15px;
    height: 200px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;

}

@media (min-width: 481px) {
    .box {
        border: solid 10px red;
        padding: 10px;
        margin: 10px;
        position: relative;
    }
    .box2 {
        border: solid 10px olive;
        padding: 10px;
        margin: 10px;
        position: relative;
    }
}

@media (min-width: 1025px) {
    .box {
        border: solid 20px lightblue;
        font-size: medium;
        padding: 20px;
        margin: 15px;
        position: relative;
        width: 400px;
        height: 260px;
        top: 20px;
    }
    
    .box2 {
        border: solid 20px gold;
        font-size: medium;
        padding: 20px;
        margin: 15px;
        position: relative;
        width: 400px;
        height: 260px;
        left: 500px;
        bottom: 335px;
    }

    header {
        background-color: #4caf50;
        color: white;
        text-align: center;
        padding: 10px;
    }

    h1 {
        padding: 20px;
        margin: 20px;
    }

article {
    font-size: medium;
    margin: 5px;
    padding: 5px;
}

}